$lightGreen: #b9e7e7;
// $lightGreen: #e30022;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.app {
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;

    .container {
        width: 1024px;

        .link {
            text-decoration: none;
            color: inherit;
        }

        //LOGIN & REGISTER

        .auth {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: $lightGreen;

            h1 {
                font-size: 20px;
                color: teal;
                margin-bottom: 20px;
            }

            form {
                display: flex;
                flex-direction: column;
                padding: 50px;
                background-color: white;
                width: 200px;
                gap: 20px;

                input {
                    padding: 10px;
                    border: none;
                    border-bottom: 1px solid gray;
                }

                button {
                    padding: 10px;
                    border: none;
                    background-color: teal;
                    cursor: pointer;
                    color: white;
                }

                p {
                    font-size: 12px;
                    color: red;
                    text-align: center;
                }

                span {
                    font-size: 12px;
                    text-align: center;
                }
            }
        }

        //NAVBAR

        .navbar {
            .container {
                padding: 10px 0px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .logo {
                    a {
                        text-decoration: none;
                        font-weight: bolder;
                        font-size: 1.6rem;

                        color: $lightGreen;
                    }
                }

                .links {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    h6 {
                        font-size: 16px;
                        font-weight: 300;
                    }

                    span {
                        cursor: pointer;
                    }
                }

                .user-info {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .username {
                        text-transform: uppercase;
                    }

                    .write {
                        background-color: $lightGreen;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 300;
                        border: 1px solid white;

                        &:hover {
                            color: teal;
                            background-color: white;
                            border: 1px solid teal;
                        }
                    }
                }
            }
        }

        //FOOTER

        footer {
            margin-top: 100px;
            padding: 20px;
            background-color: $lightGreen;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 12px;

            img {
                height: 50px;
            }
        }

        .test {
            width: 100%;
            min-height: 70vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            div {
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;

                h4 {
                    font-weight: 300;
                }

                h3 {
                    font-weight: 300;
                }
            }
        }

        //PROFILE

        .profile {
            width: 100%;
            display: flex;

            flex-direction: column;

            align-items: center;

            .profile-div {
                width: 100%;

                display: flex;
                justify-content: space-between;

                gap: 3rem;
                margin-top: 2rem;

                .img {
                    flex: 1;
                    width: 250px;
                    height: 250px;

                    border-radius: 50%;

                    img {
                        border-radius: 50%;
                        border: 5px solid $lightGreen;

                        width: 250px;
                        height: 250px;
                        object-fit: cover;
                    }
                }

                .info {
                    flex: 2;

                    list-style: none;

                    li {
                        font-size: 1.6rem;
                        margin: 0.5rem 0;

                        font-weight: 700;

                        color: $lightGreen;

                        span {
                            font-size: 1.3rem;
                            font-weight: 400;
                            margin-left: 20px;

                            color: #333;
                        }
                    }
                }
            }

            .blogs-div {
                width: 100%;

                margin-top: 4rem;

                border-top: 4px solid $lightGreen;

                .blogs {
                    width: 100%;

                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    flex-wrap: wrap;

                    gap: 20px;

                    .blog {
                        width: 300px;
                        height: 400px;

                        border-radius: 30px;

                        .blog-img {
                            width: 100%;
                            height: 70%;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }

                        .blog-info {
                            width: 100%;
                            height: 28%;

                            h1 {
                                font-size: 1.3rem;
                            }

                            p {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }

        //HOME

        .home {
            .posts {
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                gap: 150px;

                h3 {
                    text-align: center;
                    text-transform: uppercase;
                }

                .post {
                    display: flex;
                    gap: 100px;

                    &:nth-child(2n + 1) {
                        flex-direction: row-reverse;
                    }

                    .img {
                        flex: 2;
                        position: relative;

                        &::after {
                            content: "";
                            width: 100%;
                            height: 100%;
                            background-color: $lightGreen;
                            position: absolute;
                            top: 20px;
                            left: -20px;
                            z-index: -1;
                        }

                        img {
                            width: 100%;
                            height: 400px;
                            object-fit: cover;
                        }
                    }

                    .content {
                        flex: 3;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        h1 {
                            font-size: 40px;
                        }

                        p {
                            font-size: 16px;
                        }

                        button {
                            width: max-content;
                            padding: 10px 20px;
                            border: none;
                            cursor: pointer;
                            background-color: white;
                            border: 1px solid teal;
                            color: teal;

                            &:hover {
                                border: 1px solid white;
                                background-color: $lightGreen;
                                color: black;
                            }
                        }
                    }
                }
            }
        }

        //SINGLE

        .single {
            display: flex;
            gap: 50px;

            .content {
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 30px;

                img {
                    width: 100%;
                    height: 350px;
                    object-fit: cover;
                }

                .user {
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    gap: 10px;
                    font-size: 14px;

                    .info {
                        display: flex;
                        flex-direction: column;
                        align-items: start;

                        p {
                            margin: 0;
                        }
                    }

                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    span {
                        font-weight: bold;
                    }
                }

                .edit {
                    display: flex;
                    gap: 5px;

                    img {
                        width: 30px;
                        height: 30px;
                        cursor: pointer;
                        margin-left: 10px;
                    }
                }

                h1 {
                    font-size: 42px;
                    color: #333;
                    text-transform: capitalize;
                }

                .desc {
                    p {
                        text-align: justify;
                        line-height: 30px;
                    }

                    a {
                        color: #b9e7e7;
                        background-color: #49eeee;
                    }
                }
            }

            .menu {
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 25px;

                h1 {
                    font-size: 16px;
                    color: #555;
                }

                .post {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    img {
                        width: 100%;
                        height: 200px;
                        object-fit: cover;
                    }

                    h2 {
                        color: #555;
                    }

                    button {
                        width: max-content;
                        padding: 7.5px 15px;
                        border: none;
                        cursor: pointer;
                        color: teal;
                        background-color: white;
                        border: 1px solid teal;

                        &:hover {
                            border: 1px solid white;
                            background-color: $lightGreen;
                            color: black;
                        }
                    }
                }
            }
        }

        //WRITE

        .add {
            margin-top: 20px;
            display: flex;
            gap: 20px;

            .content {
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 20px;



                input {
                    padding: 10px;
                    border: 1px solid lightgray;
                }

                .editorContainer {
                    height: 300px;
                    overflow: scroll;
                    border: 1px solid lightgray;

                    .editor {
                        height: 100%;
                        border: none;
                    }
                }
            }

            .menu {
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .item {
                    border: 1px solid lightgray;
                    padding: 10px;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-size: 12px;
                    color: #555;

                    .image-container {
                        width: 270px;
                        height: 150px;

                        margin-bottom: 10px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    h1 {
                        font-size: 20px;
                    }

                    .file {
                        text-decoration: underline;
                        cursor: pointer;
                    }

                    .buttons {
                        display: flex;
                        justify-content: space-between;

                        :first-child {
                            cursor: pointer;
                            color: teal;
                            background-color: white;
                            border: 1px solid teal;
                            padding: 3px 5px;
                        }

                        :last-child {
                            cursor: pointer;
                            color: white;
                            background-color: teal;
                            border: 1px solid teal;
                            padding: 3px 5px;
                        }
                    }

                    .cat {
                        display: flex;
                        align-items: center;
                        gap: 2px;
                        color: teal;
                    }
                }
            }
        }
    }
}